<!DOCTYPE html>
<html lang="en">

<!-- Header -->
<%- include('layouts/header'); -%>

<body>
    <div class="container">
        <!-- Navigation -->
        <%- include('layouts/navbarlogout'); -%>

        <!--<section class="notifications">
            <p class="notification-message">Message...</p>
        </section>-->

        <main>
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h3 class="display-4">404 Not Found</h3>
                </div>
            </div>
        </main>
        
  <!-- Footer -->
  <%- include('layouts/footer'); -%>

  <!-- Scripts -->
  <%- include('layouts/scripts'); -%>

    </div>
</body>

</html>